@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');

:root {
    --color-valid: #79E0EE; 
    --color-invalid: #F94C10; 
    --color-background: #FFF5E0; 
    --color-background-tamplates: rgba(0, 0, 0, 0.6);
}

body {
    display: flex;
    flex: 50vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    font-family: 'Onest', sans-serif, Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

h2 {
    padding: 0 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

div#image-credit > a {
    color: aliceblue;
}

div.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 4rem;
}


div.form-template {
    background-color: var(--color-background);
}

div.footer, legend {
    padding: 0 40px;
}

label {
  font-size: .7rem;
  font-weight: 900;
}

legend {
    font-size: 2rem;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

div.side-template {
    display: flex;
    flex-direction: column;
    flex-basis: 40vw;
    background-image: url(images/jazmin-quaynor-bm9zWKi_c9Y-unsplash.jpg);
    background-size: 40em;
    background-position: auto;
    margin: 0;
}

.form-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 58vw;
}

#card-body {
    color: white;
    background-color: var(--color-background-tamplates);
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}


#company-logo {
    width: 15rem;
    padding: 1.2rem 0;
}

#image-credit {
    display: inline-block;
    text-align: center;
    color: aliceblue;
    width: 100%;
    background: var(--color-background-tamplates);
    position: relative;
    top: 80vh;
}

#inputs-cont {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    min-width: 58vw;
    background-color: white;

}

#inputs-left, 
#inputs-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 12rem;
    height: 10rem;
}