@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');

:root {
    --color-valid: #79E0EE; 
    --color-invalid: #F94C10; 
    --color-background: #FFF5E0; 
    --color-background-tamplates: rgba(0, 0, 0, 0.6);
}

@media(min-width: 600px) {
    body {
        display: flex;
    }

    div.side-template {
        display: flex;
        flex-direction: column; 
        width: 40%; 
        background-size: 700px auto;
        height: 100vh;
    }

    #card-body {
        position: relative;
        top: 20vh;
    }

    .form-template {
        width: 60%;
    }

    div#image-credit {
        display: inline-block;
        text-align: center;
        font-size: 1rem;
        color: aliceblue;
        width: 100%;
        background: var(--color-background-tamplates);
        position: relative;
        bottom: 0rem;
    }

    div#inputs-cont {
        display: flex;
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
        min-width: 100%;
        background-color: white;
        box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.2);
    }

    #inputs-left, 
    #inputs-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 12rem;
    height: 10rem;
    padding: 0;
    flex-grow: 1;
}

    div.header > h2 {
        font-size: 1.5rem;
    }

    form > legend {
    font-size: 2.5rem;
}
    
}

body {
    /* display: flex; */
    flex: 50vw;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    font-family: 'Onest', sans-serif, Arial, Helvetica, sans-serif;
    min-height: 100vh;
}


button {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: rgb(249,250,251);
}
button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

button:focus-visible {
  box-shadow: none;
}

h2 {
    padding: 0 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

div#image-credit > a {
    color: aliceblue;
}

div.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 4rem;
    gap: 1rem;
}

div#log-in-string > span > a {
    color: black;
}


div#log-in-string > span > a:hover {
    color: #b64600
}


div.form-template {
    background-color: var(--color-background);
}

div.footer, legend {
    padding: 2.5rem;
}

label {
  font-size: .7rem;
  font-weight: 900;
}

legend {
    font-size: 2rem;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

input:valid {
    border: 2px solid var(--color-valid);
}

input:invalid{
    border: 2px solid var(--color-invalid);
}
.side-template {
/*     display: flex;
    flex-direction: column; */
    /* flex-basis: 40vw; */
/*     max-width: 600px;
    height: 10rem; */
    background-image: url(images/jazmin-quaynor-bm9zWKi_c9Y-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 10rem;
}

.form-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-basis: 58vw; */
    min-height: 84vh;
}

#card-body {
    color: white;
    background-color: var(--color-background-tamplates);
/*     position: relative;
    top: 20vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}


#company-logo {
    width: 15rem;
    padding: 1.2rem 0;
}


#inputs-cont {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    min-width: 100%;
    background-color: white;
    box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.2);
}

#inputs-left, 
#inputs-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 12rem;
    height: 10rem;
    padding: 0 2.5rem;
}

#image-credit {
    display: inline-block;
    text-align: center;
    font-size: .6rem;
    color: aliceblue;
    width: 100%;
    /* background: var(--color-background-tamplates); */
    position: absolute;
    bottom: 51.5rem;
}

    .header > h2,
    legend {
    font-size: 1rem;
}