@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');

:root {
    --color-valid: #79E0EE; 
    --color-invalid: #F94C10; 
    --color-background: #F8DE22; 
    --color-background-tamplates: rgba(0, 0, 0, 0.6);
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    font-family: 'Onest', sans-serif, Arial, Helvetica, sans-serif;
}

div#image-credit > a {
    color: aliceblue;
}

label {
    display: inline-block;
    width: 10rem;
    text-align: right;
}

legend {
    margin: 1.5rem 4.88rem;
    font-size: 2rem;
}

div.side-template {
    background-image: url(images/jazmin-quaynor-bm9zWKi_c9Y-unsplash.jpg);
    background-size: 40em;
    min-width: 40vw;
    min-height: 100vh;
    margin: 0;
}

.form-template {
    max-width: 58vw;
}

#card-body {
    color: white;
    background-color: var(--color-background-tamplates);
    height: 8rem;
    width: 40vw;
    position: absolute;
    text-align: center;
    top: 25vh;
}


#company-logo {
    width: 15rem;
    padding: 1.2rem 0;
}

#image-credit {
    display: inline-block;
    text-align: center;
    color: aliceblue;
    width: 100%;
    background: var(--color-background-tamplates);
    position: relative;
    top: 97.9vh;
}

#inputs-cont {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    max-width: 40rem;
}

#inputs-left, #inputs-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 20rem;
    height: 6rem;
}